.about-content {
  padding: 25px 50px;
  text-align: center;
}

.about-content h4 {
  text-align: center;
  color: #061326;
}

.about-content h3 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 36px;
  text-align: center;
  color: #567275;
  -webkit-text-stroke: 0.5px #567275;
  margin: 15px 0 15px;
}

.about-content p {
  font-family: "Lato";
  margin: 30px 50px 0px 50px;
  color: #061326;
}

.about-content .about-img {
  display: flex;
  justify-content: center;
  align-items: center; /* Add this line */
  margin-bottom: 20px;
}

.about-content .about-img img {
  width: 200px;
}
