.about-content {
  padding: 25px 50px;
}

.about-content h4 {
  text-align: center;
  color: #061326;
}

.about-content h3 {
  font-family: 'Petit Formal Script', cursive;
  text-align: center;
  color: #567275;
  -webkit-text-stroke: 0.5px #567275;
  margin: 15px 0 15px;
}

.about-content p {
  font-family: "Lato";
  margin: 30px 50px 0px 50px;
  color: #061326;
}
