/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


// General Styling

.recipe-page {
background-color: #F9F5F2;
margin-left: 140px;
margin-right: 140px;
box-sizing: border-box;
}

.recipe-page h1 {
  font-family: 'Aleo', serif;
  color: #061326;
}

.recipe-page p {
  font-family: 'Lato', sans-serif;
  color: #567275;
  font-weight: 300;
}

.back-button {
  margin-bottom: 50px;
  margin-top: 10px;
}

.signup-button {
  margin-bottom: 240px;
  margin-top: 160px;
  .button {
    width: 260px;
    height: 60px;
    white-space: nowrap;
  }
}

.recipe-column-left {
  margin-left: 140px;
}

.recipe-column-right {
  flex-basis: 0 !important;
  flex-grow: 1 !important;
}

.recipe-column-left {
  flex-grow: 2 !important;
}

.recipe-img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  max-width: 750px;
  height: 100%;
  max-height: 400px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.recipe-container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: flex-start !important;
  margin-bottom: 140px;
  position: relative;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.user-details {
  margin-left: 10px;
}

.user-avatar {
  background-image: url("https://images.unsplash.com/photo-1524250502761-1ac6f2e30d43?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1888&q=80");
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 1px solid #F9F5F2;
}


.separator {
  border-left: 1px solid #CA4E36;
  height: 100%;
  min-height: 600px;
  margin: 160px 20px 0px 20px;
}

.profile-link {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  color:#CA4E36;
  font-size: small;
}

.profile-link:hover {
  color: #C78D81;
}

.username {
  font-family: 'Lato', sans-serif !important;
  font-weight: bold !important;
  margin-bottom: 0;
}

.small-card a {
  border: none;
  outline: none;
  box-shadow: none;
}
