<div class="stimulus-tabs" data-controller="change-tabs">
  <div class="tab">
    <%= link_to 'Recipes', my_recipes_events_bookings_user_path(query: 'recipes'), class: 'tablinks', data: { action: "click->change-tabs#active", change_tabs_target: "url" } %>
    <%= link_to 'Events', my_recipes_events_bookings_user_path(query: 'events'), data: { action: "click->change-tabs#active", change_tabs_target: "url" }  %>
    <%= link_to 'Bookings', my_recipes_events_bookings_user_path(query: 'bookings'), data: { action: "click->change-tabs#active", change_tabs_target: "url" }  %>
  </div>

  <div class="display-content" data-change-tabs-target="content">
  </div>

</div>
