<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% @recipe.images.each_with_index do |image, index| %>
      <div class="carousel-item <%= 'active' if index.zero? %>">
        <%= image_tag(image, class: "d-block w-100 recipe-card-img") %>
      </div>
    <% end %>
  </div>
</div>
