 <div class="user-outside-container">
  <div class="user-border-background">
    <div class="about-content">
      <h4>
        Hello, food lovers!
      </h4>
      <h4>
        We're Igor, Quan, Nicola, Lena, and Prakashini,
      </h4>
      <h4>
        and we're thrilled to present our final project at LeWagon — <h3>peppermingle</h3>
      </h4>

      <p>
      Peppermingle is the go-to destination for sharing recipes and preparing delicious meals together online.
      It's the culmination of our journey, where we combined our passion for coding with our love for all things culinary.
      We've poured our hearts, skills, and endless hours into creating a platform that embraces the joy of cooking and the excitement of connecting with fellow food enthusiasts.
      </p>
      <p>
      But we didn't stop there. We wanted to bring people closer together, even if we can't be in the same kitchen. That's why we've created virtual cooking events that will take you on a culinary adventure.
      Join live video calls led by fellow food enthusiasts or professional chefs, and experience the thrill of cooking together from the comfort of your own home.
      </p>
      <p>
      Get ready to dive into a world of mouthwatering recipes contributed by our vibrant community.
      From familiar favorites to creative culinary delights, you'll find endless inspiration to satisfy your taste buds.
      </p>
      <p class="p-cursive">
      And hey, don't forget to share your own recipes too!
      </p>
    </div>
  </div>
</div>
