<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 <%= render partial: 'shared/card_add_new' %>
<%= button_to "Sign_out", destroy_user_session_path, :method => 'delete', data:{turbo: "false"} %>
<%= link_to "sign_up", new_user_registration_path %>
