@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 144px;
  height: 42px;
  background-color: #C78D81;
  border: none;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #F9F5F2;
  font: 300 30px "Oswald";
  z-index: 1;
  transition: background-color 0.3s;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0.5px solid #567275;
  border-radius: 5px;
  z-index: 2;
  transform: translate(-4px, -4px);
  transition: top 0.3s, left 0.3s;
}

.button:hover::before {
  top: 3.5px;
  left: 3.5px;
}

.small-button {
  width: 118px;
  height: 42px;
  font-size: 25px;
}

.large-button {
  width: 318px;
  height: 112px;
}

.card-button {
  width: 80px;
  height: 30px;
  font-size: 10px;
}

.card-button::before {
  transform: translate(-2px, -2px); /* Adjust the translation values as needed */
}

.card-button:hover::before {
  top: 1.75px;
  left: 1.75px;
}

.cancel-button {
  width: 90px;
  height: 20px;
  font-size: 10px;
}

.cancel-button::before {
  transform: translate(-2px, -2px); /* Adjust the translation values as needed */
}

.cancel-button:hover::before {
  top: 1.75px;
  left: 1.75px;
}

.button-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 144px;
  height: 42px;
  background-color: #a36154;
  border: none;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #F9F5F2;
  font: 300 30px "Oswald";
  z-index: 1;
  transition: background-color 0.3s;
}

.edit-recipe-btn {
  width: 170px;
  white-space: normal;
  font-size: 22px;
}

.filter-btn {
  width: 100px;
  height: 35px;
  font-size: 18px;
  text-align: center;
  justify-items: center;
  padding-top: 6px;
  margin-top: 10px;
}

.event-edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.event-edit-button::after {
  content: "Edit";
  position: absolute;
  top: -25px;
  right: 0;
  background-color: #f1d5d3;
  padding: 5px;
  font-size: 14px;
  color: #567275;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, top 0.3s ease;
}

.event-edit-button:hover::after {
  opacity: 1;
  top: -35px;
}

.event-edit-button:hover {
  opacity: 0.8;
}

.event-del-button {
  position: absolute;
  bottom: 15px;
  right: 20px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.event-del-button a {
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: #050505;
  position: relative;
}

.event-del-button a::after {
  content: "Delete";
  position: absolute;
  top: -25px;
  right: 0;
  background-color: #f1d5d3;
  padding: 5px;
  font-size: 14px;
  color: #567275;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease, top 0.3s ease;
}

.event-del-button a:hover::after {
  opacity: 1;
  top: -35px;
}

.event-del-button:hover {
  opacity: 0.8;
}

.room {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  width: 118px;
  height: 42px;
  font-size: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room .delete-room-button {
  margin-top: 10px;
  width: 118px;
  height: 42px;
  font-size: 19px;
}

.cjoin-button {
  width: 118px;
  height: 42px;
  font-size: 19px;
}

.join-button {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  width: 118px;
  height: 42px;
  font-size: 19px;
}


// .small-button-view-all {
//   width: 140px;
//   height: 30px;
//   font-size: 16px;
//   text-wrap: nowrap;
// }

// .fa-angles-right {
//   font-size: 15px;
//   margin-left: 5px;
//   padding-top: 5px;
// }
