@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 144px;
  height: 42px;
  background-color: #C78D81;
  border: none;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #F9F5F2;
  font: 300 30px "Oswald";
  z-index: 1;
  transition: background-color 0.3s;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0.5px solid #567275;
  border-radius: 5px;
  z-index: 2;
  transform: translate(-4px, -4px);
  transition: top 0.3s, left 0.3s;
}

.button:hover::before {
  top: 3.5px;
  left: 3.5px;
}

.small-button {
  width: 118px;
  height: 42px;
  font-size: 25px;
}

.large-button {
  width: 318px;
  height: 112px;
}

.card-button {
  width: 50px;
  height: 20px;
  font-size: 10px;
}

.card-button::before {
  transform: translate(-2px, -2px); /* Adjust the translation values as needed */
}

.card-button:hover::before {
  top: 1.75px;
  left: 1.75px;
}

// comment
