@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

.chatroom {
  background: transparent;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
    font-family: "Aleo", sans-serif;
    color: #567275;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
    font-family: "Lato", sans-serif;
    color: #2b393b;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;
    font-family: "Lato", sans-serif;
    color: #2b393b;

    .form-group {
      margin-bottom: 0;
    }
  }
}
