/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

body {
  background-color: #F9F5F2;
}

// .show-container-flex {
//   display: flex;
//   height: 100%;
//   width: 100%;
// }

.user-info-flex-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  // background-color: red;
  border-right: 1px solid #C78D81;
  width: 409px;
  padding: 20px;
  P, h3 {
    color: #567275;
  }
  .location, h5 {
    color: #8EAEAF;
  }
  p {
    font-size: 24px;
  }
  h5 {
    font-size: 32px;
  }
  h3 {
    font-size: 40px;
  }
  i {
    font-size: 30px;
    color: #E7B2AF;
  }
}

.name-location-info-container {
  margin-bottom: 40px;
  // background-color: aqua;
  h3, h5, p {
    text-align: center;
  }
}

.user-outside-container {
  display: flex;
  justify-content: center;
}

// .cards-flex-container {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   gap: 20px;
// }

// .recipe-cards-container {
//  .title{
//   color: #567275;
//   font-size: 40px;
//   margin-top: 10px;
//  }
// }

// .cards-flex, .outer-cards-flex {
//   display: flex;
//   flex-direction: column;
// }

// .user-bio-container {
//   // background-color: yellow;
//   // width: 359px;
//   width: 100%;
// }

// .outer-cards-flex {
//   margin-top: 50px;
// }

.back-btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 40px;
}

// .profile-show-container {
//   // background-color: yellow;
//   width: 75%;
//   margin: 0 auto;
// }

.index-container {
  // height: 100vh;
  margin: 0 30px;
  // background-color: #8EAEAF;
}

.index-container h3 {
  font-family: "Aleo";
  color: #061326;
}

.filter-container {
  position: sticky;
  // background-color: yellow;
  // border-right: 1px solid black;
  width: 20%;
  height: 100%;
  margin-right: 30px;
  // margin: 0 auto;
}

.index-search-flex-container{
  height: 100%;
  width: 100%;
  display: flex;
  // justify-content: space-between;
  // overflow: scroll;
}

.flex-form-container {
  font-family: "Lato";
  color: #516163;
  display: flex;
  label {
    margin-left: 5px;
  }
}

.meal_type, .dietary_restrictions {
  margin-top: 10px;
}

.recipe-card-index-container {
  display: grid;
  // justify-content: flex-end;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  margin: 0 auto;
  padding: 10px;
}

.outter-recipe-flex-container{
  display: flex;
  flex-direction: column;
  h1 {
    font-weight: normal;
    font-family: 'Aleo', serif;
    color: #567275;
  }
}

.event-show-container {
  margin: 50px auto 50px;
  display: flex;
  justify-content: center;
  height: 700px;
  width: 90%;
  .event-show-img {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
  }
}

.event-show-img-container {
  width: 50%;
}

.event-show-details-container {
  position: relative;
  padding: 15px;
  width: 50%;
  background-color: #f1d5d3;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  h2 {
    font-weight: bold;
    font-family: 'Aleo', serif;
    color: #567275;
  }
  p {
    color: #4b6163;
    font-family: 'Lato', serif;
    padding: 30px 0;
    font-size: 20px;
  }
  .event-page-link {
    text-decoration: underline;
    color: #4b6163;
    font-family: 'Lato', serif;
    &:hover {
      color: #c39794;
    }
  }
  i {
    font-size: 25px;
  }

}

.event-header-center {
  margin: 0 auto;
}

.margin{
  margin: 50px;
}

.profile-container {
  border: 1px solid #DD8A86;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  height: 500px;
  max-height: 100%;
  // overflow: auto;
  width: 80%;

}

.img-container {
  width: 40%;
}

.bio-container {
  padding: 20px;
  background-color: #f1d5d3;
  border-left: none;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: 0;
  .user-edit-flex {
    display: flex;
    justify-content: space-between;
  }
  h2 {
    font-weight: normal;
    font-family: 'Aleo', serif;
    color: #334447;
  }
  p {
    color: #4b6163;
    font-family: 'Lato', serif;
  }
  i {
    color: #567275;
  }
}

.user-border-background {
  width: 70%;
  margin: 25px;
  border: 1px solid #F1B150;
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(249,245,242,0.8520658263305322) 0%, rgba(249,245,242,0.8520658263305322) 100%), url("culinary_herbs-background");
  background-repeat: repeat;
  background-size: 30%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.profile-img-container {
  height: 100%;
  width: 100%;
  object-fit: cover;
  // border: 2px solid #C78D81;
  border-right: none;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  // filter: grayscale(60%);
}

// event-index-grid
.event-index-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 2000px) {
  .recipe-card-index-container {grid-template-columns: 1fr 1fr 1fr 1fr;}
  .event-index-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

}

@media (max-width: 1800px) {
  .recipe-card-index-container {grid-template-columns: 1fr 1fr 1fr;}
  .event-index-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}

@media (max-width: 1200px) {
  .recipe-card-index-container {grid-template-columns: 1fr 1fr;}
  .event-index-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@media (max-width: 768px) {
  .recipe-card-index-container {grid-template-columns: 1fr;}
  .event-index-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
