/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

// Styling for the forms

.form {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 100;
}

.form-container {
  width: 50%;
  height: auto;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #C78D81;
  color: #061326;
  background-color: #F9F5F2;
  font-family: 'Aleo', serif;
}

.form h1 {
  // font-family: 'Aleo', serif;
  font-family: 'Petit Formal Script', cursive;
  -webkit-text-stroke: 0.5px #567275;
  text-decoration: none;
  margin-bottom: 20px;
  color: #567275;
}

.form h2 {
  font-family: 'Petit Formal Script', cursive;
  -webkit-text-stroke: 0.5px #567275;
  text-decoration: none;
  margin-bottom: 20px;
  color: #567275;
  border: none !important;
  outline: none !important;
}

.form-button {
  font-size: 15px;
  color:#567275;
  width: 100%;
  max-width: 150px;
  height: 30px;
  white-space: nowrap;
  background: #F9F5F2;
  border-radius: 10px;
}

.form-input-style {
  border-radius: 10px;
  border: 1px solid #F6D9DD;
  background-color: #E4DED2;
}

.button.small-button{
  font-size: 18px;
  margin-left: 10px;
}

.label-style {
  display: block;
  margin-bottom: 10px;
}

.checkbox-item {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

// Ingredient List Form

.name-input {
  border-radius: 10px;
  border: 1px solid #F6D9DD;
  background-color: #E4DED2;
}

.ingredient-list-container {
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
  margin: 20px;
}

.ingredient-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ingredient-item {
  margin-bottom: 10px;
}

.remove-link {
  font-family: 'Aleo', serif;
  color: rgb(193, 53, 53);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 20px;
}

.edit-remove-link  {
  font-family: 'Aleo', serif;
  color: rgb(193, 53, 53);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 20px;
}

.ingredient-label {
  transition: opacity 0.9s ease-in-out;
}

.transition-label {
  opacity: 0;
}

.hidden {
  display: none;
}

#ingredient-container button {
  font-size: 15px;
  color:#F9F5F2;
  width: 100%;
  max-width: 150px;
  height: 30px;
  white-space: nowrap;
  background: #C78D81;
  border: 1px solid #F6D9DD;
  border-radius: 10px;
  outline: none !important;
  border: none !important;
}

#ingredient-container button:hover {
  background-color: #d9b3ac;
  transition-duration: 0.8s;
}

.ingredients-edit-list {
  list-style-type:circle;
  padding: 0;
}

.ingredient-item {
  display: flex;
  align-items: center;
}

.ingredient-wrapper {
  display: flex;
  align-items: center;
}

.ingredient-name {
  margin-right: 10px;
}

.remove-ingredient {
  margin-left: 5px;
}
