/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

// Styling for the forms

.form {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 100;
}

.form-container {
  width: 50%;
  height: auto;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #C78D81;
  color: #061326;
  background-color: #F9F5F2;
  font-family: 'Aleo', serif;
}

.form h1 {
  // font-family: 'Aleo', serif;
  font-family: 'Petit Formal Script', cursive;
  -webkit-text-stroke: 0.5px #567275;
  text-decoration: none;
  margin-bottom: 20px;
  color: #567275;
}

.form h2 {
  font-family: 'Petit Formal Script', cursive;
  -webkit-text-stroke: 0.5px #567275;
  text-decoration: none;
  margin-bottom: 20px;
  color: #567275;
  border: none !important;
  outline: none !important;
}

.form-button {
  font-size: 15px;
  color:#567275;
  width: 100%;
  max-width: 150px;
  height: 30px;
  white-space: nowrap;
  background: #F9F5F2;
  border-radius: 10px;
}

.form-input-style {
  border-radius: 10px;
  border: 1px solid #F6D9DD;
  background-color: #E4DED2;
}

.button.small-button{
  font-size: 18px;
  margin-left: 10px;
}

.label-style {
  display: block;
  margin-bottom: 10px;
}

.checkbox-item {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.link-delete {
  color: #a46255;
}

.recipe-info {
  font-size: 12px;
  margin-top: -15px;
}

.big-form {
  height: 150px;
}

// Ingredient List Form

.name-input {
  border-radius: 10px;
  border: 1px solid #F6D9DD;
  background-color: #E4DED2;
  width: 400px;
}

.edit-name-input {
  border-radius: 10px;
  border: 1px solid #F6D9DD;
  background-color: #E4DED2;
  width: 400px;
}

#ingredient-container {
  position: relative;
}

#edit-ingredient-container {
  position: relative;
}

#add-ingredient-container {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

#add-ingredient {
  margin: 5px 0px 20px 0px;
  background-color: #C78D81;
  color: #F9F5F2;
  font-size: 15px;
  border: none;
}

#add-ingredient:hover {
  background-color: #eac7c0;
  transition-duration: 0.4s;
}

#edit-add-ingredient {
  margin: 5px 0px 20px 0px;
  background-color: #C78D81;
  color: #F9F5F2;
  font-size: 15px;
  border: none;
}

#edit-add-ingredient:hover {
  background-color: #eac7c0;
  transition-duration: 0.4s;
}

.ingredient-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ingredient-item {
  margin-bottom: 10px;
}

.ingredient-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.edit-ingredient-fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.edit-ingredient-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.edit-ingredient-field > .edit-name-input {
  flex: 1; /* Add this line to allow the input field to take up remaining space */
  border-radius: 10px;
  border: 1px solid #F6D9DD;
  background-color: #E4DED2;
}

.ingredient-field > .delete-ingredient {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 4px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}

.edit-ingredient-field > .edit-delete-ingredient {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 4px;
  font-size: 18px;
  cursor: pointer;
}

.ingredient-label {
  transition: opacity 0.9s ease-in-out;
}

.transition-label {
  opacity: 0;
}

.hidden {
  display: none;
}

.ingredient-field-wrapper {
  display: flex;
  align-items: center;
}

.ingredient-wrapper {
  flex: 1;
  margin-right: 10px;
}

.destroy-ingredient-field {
  display: none;
}
