.recipe-events-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
}

.recipe-events-container h1 {
  font-family: "Aleo";
  color: #061326;
}

.recipe-events-container p {
  font-family: "Lato";
  color: #061326;
}

.recipe-events-container .link-red {
  color: #CA4E36;
}

.recipe-events-container a:hover {
  color: #d7b9b3;
  transition-duration: 0.3s;
}
