@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap');

.tablinks {
  font-family: 'Aleo', sans-serif;
  font-size: 25px;
  color: #567275;
  &:hover {
    text-decoration: underline;
  }
}

.active {
  text-decoration: underline;
  color: #C78D81;
}

.stimulus-tabs {
  margin: 0 auto;
  width: 75%;
}

.hub-page-container {
  height: 100%;
}
.tab {
  display: flex;
  justify-content: space-between;
}


.display-content-hub{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  overflow: auto;
}
